<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mydo.demo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".base.BaseActivity">
            <!--  <intent-filter>
                  <action android:name="android.intent.action.MAIN"/>
                  <category android:name="android.intent.category.SAMPLE_CODE"/>
              </intent-filter>-->
        </activity>


        <activity
            android:name=".activity.MVPActivity"
            android:configChanges="orientation"
            android:label="@string/mvp_text">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RecyclerViewActivity"
            android:configChanges="orientation"
            android:label="@string/recyclerview_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OptimizedLayoutActivity"
            android:configChanges="orientation"
            android:label="@string/optimizedlayout_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.design.CoordinatorActivity"
            android:configChanges="orientation"
            android:label="@string/coordinatorlayout1_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.design.Coordinator2Activity"
            android:configChanges="orientation"
            android:label="@string/coordinatorlayout2_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.design.Coordinator3Activity"
            android:configChanges="orientation"
            android:label="@string/coordinatorlayout4_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.design.AlibabaVlayoutActivity"
            android:configChanges="orientation"
            android:label="@string/coordinatorlayout3_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>